.wrapper{
    display: flex;
    min-height: 90%;
    justify-content: center; 
    gap: 20px;
}
.header{
    text-align: center;
    padding: 5px;
    font-size: 30px;
}
form, nav.sub{
    top: 0px;
}
form{
    text-align: right;
    margin-right: 370px;
}
nav.sub{
    text-align: left;
    margin-left: 370px;
}

