@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url("../css/card.css");
@import url("../css/footer.css");
@import url("../css/respond.css");
*{
    font-family: Playfair Display;
}
.header{
    padding: 5px;
    font-size: 30px;
    text-align: center;
    background: url("https://cdn.wallpapersafari.com/27/32/jt4AoG.jpg");
}
img{
    height: 300px;
    margin-left: auto; 
    margin-right: auto;
    display: block;
}
body{
    background: url("https://i.pinimg.com/736x/8c/98/99/8c98994518b575bfd8c949e91d20548b.jpg");
}
form{
    text-align: right;
    margin-top: -5px;
}




