/*for mobile phone sized screens */
@media(min-width: 320px) and (max-width: 1050px){
    .wrapper{
        display: grid; 
        justify-content: center;  
    }
    *{
        background: #ffffff;
    }
    form{
        display: flex;
        margin-left: 300px;
    }
    footer{
        display: flex;
    }
    .box1{
        min-width: 100%;
    }  
}