/*for mobile phone sized screens */
@media(min-width: 320px) and (max-width: 2080px){
    .wrapper{
        display: grid; 
        justify-content: center;  
    }
    *{
        background: #ffffff;
    }
    .box1{
        min-width: 70%;
    } 
    img{
        width: 100%;
    } 
}