/*for small sized screens */
@media(max-width: 340px){
    .right-column, .left-column{
        display: grid;
        grid-template-areas: 
        "ca"
        "cb"
        "cc"
        "cd"
        "ce"
        "cf";
    }
    img{
        width: 100%;
    }
    .card{
        width: 100%;
        margin-left: 40px;
    }
    nav{
        top: 2em;
    }
    
}

