@import url('https://fonts.googleapis.com/css2?family=Lora:ital@1&display=swap');
@import "BlogPost.css";
@import "box.css";
@import "responsive.css";
*{
    background: url("https://st.hzcdn.com/simgs/42e12a880838acb1_4-7690/home-design.jpg");
    color: #000000;
    font-family: 'Lora';
}
.parag{
    border: 2px solid #000000;
}
img{
    width: 550px;
    height: 400px;
}
footer{
    bottom: 0px;
    margin-left: 370px;
}
button{
    display: inline;
    padding: 5px;
}




